*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
myProject/pretrained_models/2stems/model.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
myProject/pretrained_models/5stems/model.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
